env: #dev|prod default to dev
host: #default to localhost
port: #default to 6767
log: #default to ./logs/
BBB:
  host: #required. this host must be FQDN example: https://test.bigbluebutton.com
  secret: #required. fill this using hash from bbb server config.